@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    URL("../fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --primary-color: #588157;
  --secondary-color: #e2e8f0;
  --secondary-color-darker: #808488;
  --secondary-color-darkest: #393a3b;

  --white: #fff;
  --black: #000;

  --iconLight: #55575a;
  --iconDark: #303133;

  --shadowLight: rgba(0, 0, 0, 0.1);
  --shadowMedium: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Mona Sans", sans-serif;
  font-size: 16px;

  display: grid;
  grid-template-columns: clamp(240px, 20%, 320px) repeat(5, 1fr);
  grid-template-rows: 150px repeat(5, 1fr);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Mona Sans";
}

.small-avatar {
  width: 40px;
  height: 40px;
}

.large-avatar {
  width: 64px;
  height: 64px;
}

.icon-activity {
  display: none !important;
}

/* ========== LAYOUT ========== */

/* SIDEBAR */
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav-container {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

.logo-small {
  display: none;
}

/* HEADER */
.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.search-container {
  grid-column: 1 / 4;
}

.user-profile-container {
  grid-column: 4 / 6;
}

.header-user-container {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.activities {
  grid-column: 3 / 6;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(3, clamp(70px, 90%, 110px));
  grid-template-rows: 1fr;
  justify-content: flex-end;
  align-items: center;
}

/* MAIN CONTAINER*/
.main-container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas:
    "projects announcements"
    "projects announcements"
    "projects trending"
    "projects trending";
}

/* PROJECTS */
.projects {
  /* grid-column: 1 / 5;
  grid-row: 1 / -1; */
  grid-area: projects;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.projects-title {
  grid-column: 1 / -1;
}

.projects-container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));

  overflow-y: auto;
}

/* ANNOUNCEMENTS */
.announcements {
  /* grid-column: 5 / 6;
  grid-row: 1 / 4; */
  grid-area: announcements;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.trending {
  /* grid-column: 5 / 6;
  grid-row: 4 / -1; */
  grid-area: trending;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.trending-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
}

/* =========== STYLING  =========== */

/* SIDEBAR */
.sidebar {
  background-color: var(--primary-color);
  color: var(--white);

  padding: 20px;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  font-weight: 500;
  border-right: 1px solid rgba(112, 112, 112, 0.2);

  z-index: 2;
}

.logo-container {
  width: auto;
}
.logo {
  width: 80%;
}

.nav-list {
  margin-left: 45px;
}

.nav-list li {
  margin-bottom: 20px;
  /* padding-left: 15px; */
  list-style: none;
}

/* HEADER */
.header {
  background-color: var(--white);
  box-shadow: 0px 0px 6px 2px var(--shadowMedium);

  z-index: 1;
}

/* SEARCH BAR */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.search-button {
  color: var(--iconDark);
  font-size: 1.2rem;
  margin-right: 10px;
}

.input-search {
  width: clamp(200px, 90%, 500px);
  background-color: var(--secondary-color);

  border: none;
  outline: none;

  padding: 6px;
  border-radius: 20px;
}

/* USER PROFILE */

.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.user-notifications {
  font-size: 1.4rem;
}
.notifications-button {
  color: var(--iconDark);
  font-size: 1.4rem;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.user-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-color-darkest);
}

/* HEADER-PROFILE */

.header-user-container {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.3rem;
  margin-left: 50px;
  margin-bottom: 10px;
}

/* ACTIVITIES */

.activities {
  gap: 20px;
  margin-right: 20px;
}

.activity {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  font-size: 0.95rem;

  padding: 10px 25px;
  border-radius: 20px;
}

/* MAIN */
.main-container {
  background-color: var(--secondary-color);

  padding: 30px 20px;
}

.projects {
  margin-right: 15px;
}
.projects-container {
  padding-right: 10px;
  padding-bottom: 10px;

  gap: 20px;
}

.projects-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.projects-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.projects-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color-darker);
}

.title {
  color: var(--secondary-color-darkest);
  margin-bottom: 10px;
}

.card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;

  box-shadow: 0px 4px 4px var(--shadowMedium);
}

.project-card {
  padding: 30px 20px;
  border-left: 8px solid var(--primary-color);
  position: relative;
}

.project-header {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.project-body {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color-darker);
  margin-bottom: 10px;
  padding-right: 5px;

  overflow: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.project-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.project-body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.project-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color-darker);
}

.project-footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  bottom: 10px;
  right: 10px;
}

.project-action-icon {
  width: 25px;
  height: 25px;
  filter: invert(19%) sepia(7%) saturate(142%) hue-rotate(169deg)
    brightness(91%) contrast(85%);
}

/* ANNOUNCEMENTS */
.announcements {
  margin-bottom: 15px;
}

.announcements-container {
  padding: 10px 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.announcement {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements-container > * {
  padding-left: 5px;
  padding-right: 5px;
}

.announcement:not(:last-child) {
  margin-bottom: 10px;
}

.announcement:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
}

.announcement:last-child {
  border-bottom: none;
}

.ann-title {
  font-size: 0.75rem;
}

.ann-paragraph {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--secondary-color-darker);
  height: auto;
  /* padding-bottom: 10px; */
}

/* TRENDING */
.trending {
  margin-top: 5px;
  margin-bottom: 10px;
}

.trending-container {
  padding: 30px;
}
.user-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  font-size: 0.9rem;
  font-weight: 500;
}
.user-card:not(:last-child) {
  margin-bottom: 15px;
}

.user-title {
  color: var(--secondary-color-darker);
}

.input-search::placeholder {
  /* padding-left: 10px; */
  color: var(--secondary-color-darker);
}
.input-search {
  padding-left: 20px;
}

/* MEDIA-QUERIES */

@media (max-width: 1080px) {
  .activities .activity .icon-activity {
    display: block !important;
  }

  .text-activity {
    display: none;
  }

  .activities {
    grid-template-columns: repeat(3, 40px);
  }

  .activity {
    padding: 10px 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 840px) {
  .fa-ul {
    margin-left: 0;
  }

  body {
    grid-template-columns: 50px repeat(4, 1fr);
    height: 100svh;
  }
  .logo-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar {
    padding: 0;
  }

  .logo {
    display: none;
  }

  .logo-small {
    display: block;
    width: 32px;
    height: 32px;
  }

  .nav-container ul li {
    width: 32px;
    height: 32px;
  }
  .nav-text {
    display: none;
  }
}

@media (max-width: 658px) {
  body {
    grid-template-rows: 80px 1fr;
  }
  .projects {
    overflow: visible;
    margin-right: 0;
  }
  .projects-container {
    overflow: visible;
    padding-right: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .main-container {
    overflow-y: scroll;

    grid-template-columns: 1fr;
    grid-template-areas:
      "announcements"
      "projects"
      "projects"
      "trending";
  }

  .search-bar {
    margin-left: 15px;
  }

  .header-user-container {
    margin-left: 15px;
    gap: 5px;

    display: none;
  }

  .user-profile-container {
    gap: 10px;
    justify-content: flex-end;
  }
  .user-name {
    display: none;
  }

  .user-welcome {
    font-size: 1rem;
  }

  .header {
    position: relative;

    grid-template-rows: 1fr;
  }
  .activities {
    gap: 5px;
    margin-right: 5px;

    position: absolute;
    right: 0;
    top: 10px;
  }
}

/* 
.main-container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas:
    "projects announcements"
    "projects announcements"
    "projects trending"
    "projects trending";
} */

/* 

.projects-container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));

  overflow-y: auto;
}*/
