@font-face {
  font-family: "Mona Sans";
  src: url("../MonaSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Mona Sans", sans-serif;
  font-size: 16px;

  display: grid;
  grid-template-columns: clamp(240px, 20%, 320px) repeat(5, 1fr);
  grid-template-rows: 200px repeat(5, 1fr);
}

a {
  text-decoration: none;
  color: inherit;
}

/* ========== LAYOUT ========== */

/* SIDEBAR */
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav-container {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

/* HEADER */
.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.search-container {
  grid-column: 1 / 4;
}

.user-profile {
  grid-column: 4 / 6;
}

.header-user-container {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.activities {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}

/* MAIN CONTAINER*/
.main-container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  display: grid;
  grid-template-columns: repeat(4, 1fr) clamp(280px, 20%, 350px);
  grid-template-rows: repeat(6, 1fr);
}

/* PROJECTS */
.projects {
  grid-column: 1 / 5;
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto repeat(3, 1fr);
}

.projects-title {
  grid-column: 1 / -1;
}

.project-card {
}

/* ANNOUNCEMENTS */
.announcements-container {
  grid-column: 5 / 6;
  grid-row: 1 / 4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.trending-container {
  grid-column: 5 / 6;
  grid-row: 4 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

/* =========== STYLING  =========== */

/* SIDEBAR */
.sidebar {
  background-color: #588157;
  color: #fff;

  padding: 20px;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  font-weight: 500;
}

.logo-container {
  width: auto;
}
.logo {
  width: 80%;
}

.nav-list {
  margin-left: 45px;
}

.nav-list li {
  margin-bottom: 20px;
  /* padding-left: 15px; */
}

/* HEADER */
.header {
  background-color: #fff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  margin-right: 10px;
  color: #55575a;
}

.input-search {
  width: 70%;
  background-color: #e2e8f0;

  border: none;
  outline: none;

  padding: 10px;
  border-radius: 20px;
}

/* MAIN */
.main-container {
  background-color: #e2e8f0;

  padding: 30px 20px;
  gap: 30px;
}

.projects {
  gap: 30px;
}

.projects > :first-child {
  margin-bottom: -30px;
}

.card {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}
